//Created by Administrator on 2016/11/16.
extends ../../layout

block content
  .container
    .row
      .col-sm-6
        img(src="#{book.poster}", alt="")    
      .col-sm-6
            dl.dl-horizontal
            dt 书名
            dd= book.name
            dt 出版社
            dd= book.publisher
            dt 上映年份
            dd= book.year
            dt 简介
            dd= book.summary
    .row.text-right
      a.btn.btn-primary(href="#{book.src}") 下载